// Esquema de colores
$black: #000;
$gris: #ccc;
$bgsuscr: #f2f4f5;
$tags: #4682b4;
$blanco: #fff;
$carmine-pink: #E94F37;
$salmon: #EF7F6D;
$black-olive: #393E41;
$granite-gray: #5D6163;
$old-silver: #f8f8f8;

//Tipografias
$news: 'News Cycle', sans-serif;
$diario: 'Syne Mono', cursive;

//Pesos de fuentes
$regular: 400;
$bold: 700;

//Tamanos de fuentes
$xx-large: 24px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 12px;